.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Input-flow {

  display: inline-flex;
  width: 15rem;
  height: 3rem;
  border: 0.3rem solid white;
  
}

.Calcul-button {
  display: inline-flex;
  width: 3rem;
  height: 4rem;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  background-color: gray;
}

.Calcul-button:hover {
  background-color: aqua;
}
